# This configuration comes from the Guix Cookbook
# https://guix.gnu.org/cookbook/en/guix-cookbook.html#Environment-management

if command -v guix; then

  gcroots="$HOME/.cache/guix/gcroots"

  # We register a garbage collector root to prevent guix gc
  # from removing required packages
  mkdir -p "$gcroots"
  gcroot="$gcroots/$(basename "$(pwd)").git"

  if [ -L "$gcroot" ]
  then
    rm -v "$gcroot"
  fi

  use guix --pure --root="$gcroot" -L . -L ./patches -l mobilizon-reshare.scm -m manifest.scm

  # Add development scripts to PATH
  export PATH="$(pwd)/scripts:${PATH}"

  venv_dir=".venv"

  if [ ! -e "$venv_dir/bin/python" ] ; then
    rm -rvf "$venv_dir"
    pre-commit uninstall
  fi
  if [ ! -d "$venv_dir" ] ; then
    virtualenv -p `which python3.9` "$venv_dir"
    poetry install
    pre-commit install
  fi

  git-cal --author="$(git config user.name)"

  run-tests () {
    poetry run pytest
  }
  export_function run-tests
  cat << EOF

run-tests       Runs pytest in the current directory

The 'scripts' directory has been added to your PATH: you can now invoke scripts without typing the relative path.

EOF

fi
