if has guix; then
  GUIX_PROFILE="${PWD}/.guix-root"
  rm -f "$GUIX_PROFILE"
  eval "$(guix shell -r "$GUIX_PROFILE" -D -f guix.scm -m manifest.scm --search-paths)"

  # Add development scripts to PATH
  PATH_add "$(pwd)/scripts"

  venv_dir=".venv"

  if [ ! -e "$venv_dir/bin/python" ] ; then
    rm -rvf "$venv_dir"
    pre-commit uninstall
  fi
  if [ ! -d "$venv_dir" ] ; then
    virtualenv -p `which python3` "$venv_dir"
    poetry install
    pre-commit install
  fi

  clear
  git-cal --author="$(git config user.name)"

  cat << EOF

The 'scripts' directory has been added to your PATH: you can now invoke scripts without typing the relative path.

EOF

fi
