[default]
debug = true
default = true
local_state_dir = "/var/mobilizon_reshare"
log_dir = "/var/log/mobilizon_reshare"
db_name = "events.db"
db_path = "@format {this.local_state_dir}/{this.db_name}"

[default.source.mobilizon]
url="https://some_mobilizon"
group="my_group"

[default.selection]
strategy = "next_event"


[default.selection.strategy_options]
break_between_events_in_minutes =60

[default.logging]
version = 1
disable_existing_loggers = false

[default.logging.formatters.standard]
format = '[%(asctime)s] [%(levelno)s] [%(levelname)s] %(message)s'

[default.logging.handlers.console]
level = "INFO"
class = "logging.StreamHandler"
formatter = "standard"
stream = "ext://sys.stderr"

[default.logging.handlers.file]
level = "DEBUG"
class = "logging.handlers.RotatingFileHandler"
formatter = "standard"
filename = "@format {this.log_dir}/mobilizon_reshare.log"
maxBytes = 52428800
backupCount = 500
encoding = "utf8"

[default.logging.root]
level = "DEBUG"
handlers = ['console', 'file']

