<strong>{{ name }}</strong>

🕒 {{ begin_datetime.to('local').format('DD MMMM, HH:mm') }} - {{ end_datetime.to('local').format('DD MMMM, HH:mm') }}
{% if location %}📍 {{ location }}{% endif %}

{{ description }}

🔗 <a href="{{mobilizon_link}}">Link</a>